body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    
    
}
html{
    width:100%;
    height:100%;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#rpm{
    text-align:center;
    display:block;
}